.btnFront {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

@media (max-width: 768px) {
    .btnFront {
        width: auto;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}