.PackageDetailsPage {
    padding: 20px 0;
}

.package-image {
    max-width: 100%;
    height: auto;
}

.alignTitle {
    display: flex;
    justify-content: space-between;
}

/* @media (max-width: 768px) {
    .colum {}
} */