.InfoBoxHDW{
    margin: 3rem 0;
    padding: 4rem 2rem;
    border-radius: 50%;
}

.title{
    margin: 3rem 0;
    text-align: center;
    color: var(--primary-color);
}

.ttl-brand{
    color: var(--accent-color);
}

.box-info{
    text-align: center;
    color: var(--neutral-color);
}

.sub-title{
    margin: 1rem 0;
    color: var(--txt-color);
    text-transform: uppercase;
}

p{
    color: var(--txt-color);
}

.icons{
    width: 3rem !important;
}

