.InfoBoxHDW {
    padding: 4rem 2rem;
    border-radius: 50%;
    text-align: center;
}

.title {
    display: block;
    margin: 2rem auto;
    text-align: center;
}

.ttl-brand {
    color: var(--accent-color);
}

.box-info {
    text-align: center;
    color: var(--neutral-color);
    padding: 0 2rem;

}

.sub-title {
    margin: 1rem 0;
    color: var(--txt-color);
    text-transform: uppercase;
}

p {
    color: var(--txt-color);
    margin-bottom: 0rem;
}

.icons {
    width: 3rem !important;
}

@media (max-width: 768px) {
    .InfoBoxHDW {
        padding: 0rem;
    }

    .title {
        margin: 0rem auto;
    }


}