@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #3b1ca1 !important;
  --secondary-color: #ff7e00 !important;
  --neutral-color: #333333 !important;
  --accent-color: #d6695e !important;
  --red-color: #c61515 !important;
  --font-primary: 'Montserrat', sans-serif !important;
  --font-secondary: 'Roboto', sans-serif !important;
}

img {
  width: 100% !important;
}

.logo {
  width: 7rem !important;
  height: auto !important;
  padding-left: 1rem;
}

/* BUTTONS */

.btn-gradient {
  font-family: var(--font-primary) !important;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)) !important;
  border: none !important;
  color: white !important;
  padding: 0.625rem 1.25rem !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
}

.btn-primary {
  font-family: var(--font-primary) !important;
  background-color: var(--primary-color) !important;
  border: none !important;
  color: white !important;
  padding: 0.625rem 1.25rem !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
}

.btn-secondary {
  font-family: var(--font-primary) !important;
  background-color: var(--secondary-color) !important;
  border: none !important;
  color: white !important;
  padding: 0.625rem 1.25rem !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
}

.btn-neutral {
  font-family: var(--font-primary) !important;
  background-color: var(--neutral-color) !important;
  border: none !important;
  color: white !important;
  padding: 0.625rem 1.25rem !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
}

.btn-red {
  font-family: var(--font-primary) !important;
  background-color: var(--red-color) !important;
  border: none !important;
  color: white !important;
  padding: 0.625rem 1.25rem !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
}

.btn-gradient:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-neutral:hover,
.btn-red:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-0.0625rem) !important;
}

/* H1 */

.h1-gradient {
  font-family: var(--font-primary) !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.h1-primary {
  font-family: var(--font-primary) !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  color: var(--primary-color) !important;
}

/* NAV LINKS */

.nav-link {
  font-size: 1.2rem !important;
  margin-right: 1.5rem !important;
  font-family: var(--font-primary) !important;
}

/* CARDS */
.card,
.modal-content,
.form-control {
  border-radius: 0.5rem !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.088) !important;
  transition: all 0.3s ease-in-out !important;
  background-color: #fafafa !important;
  padding: 1rem !important;
  margin-bottom: 1.25rem !important;
  border: none !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}