@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  --primary-color: #2CA2D0;
  --secondary-color: #1C75A1;
  --background-color: #F5F5F5;
  --accent-color: #F29D38;
  --neutral-color: #333333;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

img {
  width: 100%;
}